<html>

<head>
	<title>Harmonic Presence</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Secular+One&display=swap"
		rel="stylesheet">

	<style>
		* {
			box-sizing: border-box;
		}

		html,
		body {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-color: #7eb6d9;
			font-family: 'Mukta', sans-serif;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.container {
			max-height: 100vh;
			align-items: center;
		}

		.left-side {
			position: absolute;
			z-index: 1;
			left: 50px;
			bottom: 40%;
		}

		.right-side {
			position: absolute;
			z-index: 1;
			right: 50px;
			bottom: 40%;
		}

		.pres {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}

		#next {
			position: absolute;
			z-index: 1;
			right: 5%;
			bottom: 50px;
			text-align: right;
			justify-self: center;
			align-self: center;
			font-family: 'Secular One', sans-serif;
			font-size: 25px;
			padding: 10px;
		}

		p {
			margin: 10px;
			padding: 20px;
			font-size: 18px;
			background-color: #7EB6D9;
			/* border: 2px solid #ADE0FF; */
			max-width: 300px;
			width: 25%;
			box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.507);
		}

		button {
			display: block;
			width: 150px;
			height: 80px;
			background-color: #ADE0FF;
			border: none;
			box-shadow: none;
			transition: box-shadow 0.3s linear;
			margin: 0.5em;
			cursor: pointer;
			font-size: 1.2em;
		}

		button:hover {
			box-shadow: 0px 0px 0px 5px #ADE0FF;
		}

		#next:active,
		#back:active {
			box-shadow: 0px 0px 0px 5px #5a829b;
			background-color: #5a829b;
		}

		canvas {
			border-radius: 1em;
			width: 100%;
			height: 800px;
		}

		@media (max-width: 1800px) {
			p {
				max-width: 400px;
				width: 40%;
				margin: 0;
			}

			.left-side {
				left: 15%;
				bottom: 50px;
			}

			.right-side {
				right: 15%;
				bottom: 50px;
			}
		}

		@media (max-width: 1200px) {
			.left-side {
				left: 30px;
				bottom: 150px;
			}

			.right-side {
				right: 30px;
				bottom: 150px;
			}
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div class='container'>
		<!-- intro -->
		<p class='left-side' data-key='1'>
			Welcome to Harmonic Presence! In this interactive presentation, you will learn about the existence of
			harmonics in sound through audio and visual examples.
		</p>
		<p class='right-side' data-key='1'>
			By the end of this presentation, you will have a good grasp of what harmonics are and how they contribute to the
			sounds you hear every day. Click Next to dive in.
		</p>

		<!-- parts of a wave -->
		<p class='left-side' style='display: none' data-key='2'>
			In order to talk about harmonics, we need to know a little bit of physics, math, and music. But no need to be
			intimidated – the basics of each is all we need. To start, let’s look at a single sound wave.
		</p>
		<p class='right-side' style='display: none' data-key='2'>
			This is called a sine wave, characterized by its smooth oscillations. An important characteristic of a sound wave
			is its <b>wavelength</b>: the length of one oscillation. According to the wavelength of a wave, we can get its
			<b>frequency</b>: the number of times a wavelength occurs in one second (measured in Hertz). The shorter the
			wavelength, the faster it oscillates, which means a higher frequency.
		</p>

		<!-- pitch -->
		<p class='left-side' style='display: none' data-key='3'>
			Frequency corresponds to the <b>pitch</b> of the sound, or how high or low it sounds to our ears. The higher the
			frequency, the higher the pitch, and vice versa.
		</p>
		<p class='right-side' style='display: none' data-key='3'>
			See if you can hear the difference between a sine wave with a higher frequency of 800 Hertz (think: quick
			oscillations) versus a sine wave with a lower frequency of 100 Hertz (think: slow
			oscillations). Click on the sound wave to hear it.
		</p>

		<!-- frequency-pitch relationship -->
		<p class='left-side' style='display: none' data-key='4'>
			Pitch and frequency actually have a more complicated relationship. As frequency increases, the change in pitch
			gets smaller and smaller. That means a greater change of frequency is needed to hear the same pitch difference.
			This relationship is logarithmic, as seen in the graph.
		</p>
		<p class='right-side' style='display: none' data-key='4'>
			An equal change in frequency does not represent an equal change in pitch. However, it’s important to know that the
			<b>ratio</b> of the frequencies is the same for an equal change in pitch.
		</p>

		<!-- frequency vs pitch -->
		<p class='left-side' style='display: none' data-key='5'>
			Let's hear what this sounds like. Notice that the first two pitches have a difference of 50 Hertz, and the second
			two also have a difference of 50 Hertz. However, the two lower pitches sound <b>farther away</b> from each other
			than the two higher pitches. Click on the circles to listen.
		</p>
		<p class='right-side' style='display: none' data-key='5'>
			To get the same pitch change between two notes, they must have the same frequency ratio. In this example, the
			first two have frequency ratio of 450 / 400 = 1.125. The second two have a frequency ratio of 1050 / 1000 = 1.05,
			proving that the pitches are closer together in higher frequencies.
		</p>

		<!-- notation -->
		<p class='left-side' style='display: none' data-key='6'>
			In Western music tradition they observed this frequency-pitch relationship. They took the frequency ratio of 2 to
			1 and noticed the two frequencies sound like the same note, only one is higher and the other is lower. They named
			this interval an octave and gave it a value of 1200 <b>cents</b>, a new interval measurement system. It allowed
			them to divide the octave into 12 even intervals (called half steps), each 100 cents, to create a series of evenly
			spaced pitches with associated note names.
		</p>
		<p class='right-side' style='display: none' data-key='6'>
			This is what those 12 notes look like written down. In general, a note has a letter name, possibly a symbol, and a
			number to represent which octave the note is in. A4 is a special note, because every note’s frequency is based on
			a mathematical formula using the pitch-frequency logarithmic relationship and its distance from A4.
		</p>

		<!-- composite sound -->
		<p class='left-side' style='display: none' data-key='7'>
			Now, back to sound waves. Pitches are usually <b>composite</b> sound waves: a combination of many sound waves with
			different frequencies.
		</p>
		<p class='right-side' style='display: none' data-key='7'>
			For example, a piano produces a composite sound wave. See if you can hear a difference between a sine wave
			(represented by the robot), and a piano note (represented by the grand piano), both playing an A4 at 440 Hertz.
			Click on each to listen.
		</p>

		<!-- fundamental frequency -->
		<p class='left-side' style='display: none' data-key='8'>
			The piano note has a different quality than the sine wave. But you might be asking - how can we say the grand
			piano has one pitch, when we know that it emits a combination of frequencies?
		</p>
		<p class='right-side' style='display: none' data-key='8'>
			The sound wave with a frequency of 440 Hertz is the loudest sound wave out of all of them. It is also called the
			<b>fundamental frequency</b>. We identify a pitch by its fundamental frequency, since that is what we hear the
			most.
		</p>

		<!-- intro to harmonics -->
		<p class='left-side' style='display: none' data-key='9'>
			While these other sound waves don’t impact the pitch we hear, they contribute to the tone or color of the sound.
			These extra sound waves are called.... harmonics!
		</p>
		<p class='right-side' style='display: none' data-key='9'>
			Harmonics are sound waves with frequencies that are integer multiplies of the fundamental frequency. Let’s dissect
			what that means.
		</p>

		<!-- harmonics explained -->
		<p class='left-side' style='display: none' data-key='10'>
			An integer is any number without a decimal, and a multiple means the product: we must multiply the fundamental
			frequency by any integer to get a harmonic frequency.
		</p>
		<p class='right-side' style='display: none' data-key='10'>
			For example, 440 x 2 = 880, and 440 x 3 is 1,320. So, the second and third harmonics are 880 Hertz and 1,320
			Hertz. If we continue for a while, we end up with a lot of different frequencies that make up the harmonic series.
		</p>

		<!-- harmonic series -->
		<p class='left-side' style='display: none' data-key='11'>
			The harmonic series is a sequence of all the possible harmonic frequencies. The way a note sounds is largely
			affected by the strengths of each harmonic. Here is a decomposed sound wave that includes the first 32 harmonics
			in the harmonic series. If you're wondering what the pitches of the harmonic series sound like, click the figure.
		</p>
		<p class='right-side' style='display: none' data-key='11'>
			When a piano plays a note, it has a particular amount of strength for each harmonic. When a guitar plays a note,
			it has different amounts of strength for each harmonic. Each instrument's unique combination of harmonic strengths
			creates their unique tone.
		</p>

		<!-- harmonic examples -->
		<p class='left-side' style='display: none' data-key='12'>
			Here are some examples of instruments, what they sound like, and the volumes (strengths) for the first 7 harmonics
			in the harmonic series. If you notice, these instruments have different harmonic volumes. Click on each instrument
			to hear what it sounds like.
		</p>
		<p class='right-side' style='display: none' data-key='12'>
			Do you have a favorite sounding instrument? This might be because you have an affinity for certain frequencies in
			the harmonic series, but who knows?
		</p>

		<!-- harmonic series notated -->
		<p class='left-side' style='display: none' data-key='13'>
			The issue with notating the harmonic series is that the frequencies of each harmonic don’t map perfectly to one of
			the 12 notes in Western music notation. For example, if we take our favorite note, A4 at 440 Hertz, its first
			harmonic can be notated because it is exactly an octave away at 880 Hertz, which is A5 (remember: frequency ratio
			of 2 to 1). The third harmonic, however, is 1320 Hertz, which is somewhere in between E6 and F6.
		</p>
		<p class='right-side' style='display: none' data-key='13'>
			Therefore, if we write out the pitches of the harmonic series, we can notate the frequency variation from the
			notated pitch by indicating how many cents to go up or down.
		</p>

		<!-- harmonic series in reality -->
		<p class='left-side' style='display: none' data-key='14'>
			The harmonics that acoustic instruments generate might not hit those exact harmonic frequencies, but only
			approximate them. This is because a lot of different qualities affect sound, like what the instrument is made out
			of and how it is played (like plucking strings or blowing air).
		</p>
		<p class='right-side' style='display: none' data-key='14'>
			There also may be some frequencies in the resulting sound that are <b>inharmonic</b>: frequencies not a part of
			the harmonic series. A great example is a drum – it is hard to make out a pitch because it produces
			mostly inharmonic frequencies. Go on - hit the snare drum with your drumstick!
		</p>

		<!-- harmonic beauty -->
		<p class='left-side' style='display: none' data-key='15'>
			The beauty of harmonics is that they naturally occur, we can represent them mathematically, and we can explain the
			difference in tone between instruments with the fact that harmonics are present.
		</p>
		<p class='right-side' style='display: none' data-key='15'>
			With this knowledge, I hope you listen to and appreciate sounds in a whole new way.
		</p>

		<!-- harmonic beauty -->
		<p class='left-side' style='display: none' data-key='16'>
			I hope you enjoyed the presentation!
		</p>
		<p class='right-side' style='display: none' data-key='16'>
			Click Next to restart it if you'd like. Otherwise, have a wonderful day!
		</p>


		<div class='pres' id="pixi-content">
			<canvas id="pixi-canvas" />
		</div>
		<button id='next'>Next</button>
	</div>
</body>

</html>