<html>

<head>
	<title>Harmonic Presence</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Secular+One&display=swap"
		rel="stylesheet">

	<style>
		* {
			box-sizing: border-box;
		}

		html,
		body {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			/* background-color: #7eb6d9; */
			font-family: 'Mukta', sans-serif;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.container {
			max-height: 100vh;
			align-items: center;
		}

		.left-side {
			position: absolute;
			z-index: 1;
			left: 20%;
			bottom: 10%;
		}

		.right-side {
			position: absolute;
			z-index: 1;
			right: 20%;
			bottom: 10%;
		}

		#back,
		.ten,
		#next {
			justify-self: center;
			align-self: center;
			font-family: 'Secular One', sans-serif;
		}

		#back {
			position: absolute;
			z-index: 1;
			left: 5%;
			bottom: 50px;
			text-align: left;
		}

		.pres {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}

		#next {
			position: absolute;
			z-index: 1;
			right: 5%;
			bottom: 50px;
			text-align: right;
		}

		p {
			margin: 10px;
			padding: 20px;
			font-size: 16px;
			background-color: #7EB6D9;
			/* border: 2px solid #ADE0FF; */
			max-width: 400px;
			width: 25%;
			box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.507);
		}

		button {
			display: block;
			width: 100px;
			height: 40px;
			background-color: #ADE0FF;
			border: none;
			box-shadow: none;
			transition: box-shadow 0.3s linear;
			margin: 0.5em;
			cursor: pointer;
			font-size: 1.2em;
		}

		button:hover {
			box-shadow: 0px 0px 0px 5px #ADE0FF;
		}

		#next:active,
		#back:active {
			box-shadow: 0px 0px 0px 5px #5a829b;
			background-color: #5a829b;
		}

		canvas {
			border-radius: 1em;
			width: 100%;
			height: 800px;
		}

		@media (max-width: 1300px) {
			p {
				max-width: 280px;
				width: 40%;
				margin: 0;
			}

			.left-side {
				left: 20%;
			}

			.right-side {
				right: 20%;
			}
		}

		@media (max-width: 900px) {
			.left-side {
				left: 30px;
				bottom: 150px;
			}

			.right-side {
				right: 30px;
				bottom: 150px;
			}
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div class='container'>
		<!-- titleScene -->
		<p class='left-side' data-key='1'>
			Welcome to Harmonic Presence! In this interactive presentation, you will learn about the existence of
			harmonics in sound through audio and visual examples.
		</p>
		<p class='right-side' data-key='1'>
			By the end of this presentation, you will have a good grasp of what harmonics are and how they contribute to the
			sounds you hear every day. Click Next to dive in.
		</p>

		<!-- basics -->
		<p class='left-side' style='display: none' data-key='2'>
			In order to talk about harmonics, we need to know a little bit of physics, math, and music. But no need to be
			intimidated – the basics of each is all we need. To start, let’s look at a single sound wave.
		</p>
		<p class='right-side' style='display: none' data-key='2'>
			This is called a sine wave, characterized by its smooth, regular oscillations. An important part of a sound wave
			is its <b>wavelength</b>: the length of one oscillation. According to the wavelength of a wave, we can get
			its <b>frequency</b>: the number of times a wavelength occurs in one second. The shorter the wavelength, the
			faster it oscillates, which means a higher frequency.
		</p>

		<!-- harmonic sound example -->
		<p class='left-side' style='display: none' data-key='3'>
			As you may know, frequency corresponds to the pitch of the sound. We measure it in Hertz. The higher the
			frequency, the higher the pitch, and vice versa.
		</p>
		<p class='right-side' style='display: none' data-key='3'>
			See if you can hear the difference between a sine wave with a higher frequency of 800 Hertz (think: quick
			oscillations)versus a sine wave with a lower frequency of 100 Hertz (think: slow
			oscillations).
		</p>

		<!-- frequencyBasics -->
		<p class='left-side' style='display: none' data-key='4'>
			Now let’s explore sound that is not just a single sine wave. Most sounds are actually made up of many sound waves,
			with different frequencies, forming a composite sound that we hear.
		</p>
		<p class='right-side' style='display: none' data-key='4'>
			For example, a piano, like any non-synthetic instrument, produces sound that is made up of many sound waves. See
			if you can hear a difference between a sine wave (represented by the robot) and a piano note (represented by the
			grand piano).
		</p>

		<!-- frequencyBasics -->
		<p class='left-side' style='display: none' data-key='5'>
			The sine wave and piano note may have sounded similar because both transmitted a sound with a pitch of 440 Hertz.
			But how can we say the grand piano has one pitch, when we know that it emits more than one sound wave?
		</p>
		<p class='right-side' style='display: none' data-key='5'>
			It’s because the sound wave with a frequency of 440 Hertz that the piano emitted is the loudest and most prominent
			sound wave out of all of them. It is also called the <b>fundamental frequency</b>.
		</p>

		<p class='left-side' style='display: none' data-key='6'>
			While these other sound waves don’t impact the main pitch we hear, they contribute to the tone or color of the
			sound. They give the grand piano its unique sound as compared to other instruments.
		</p>
		<p class='right-side' style='display: none' data-key='6'>
			Another name for these sound waves is harmonics. Harmonics are sound waves with frequencies that are integer
			multiplies of the most prominent fundamental frequency. Let’s dissect that statement.
		</p>

		<div class='pres' id="pixi-content">
			<canvas id="pixi-canvas" />
		</div>
		<button id='next'>Next</button>
	</div>
</body>

</html>